body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    margin: 0;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

nav {
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    margin-left: 15px;
}

.nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    margin-top: 60px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;
}

.social-link {
    color: lightblue;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
}

html,
body {
  background-color: #c0d2e9d5;
  transition: all 0.3s;
  height: 100%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.glass-btn {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  margin-left: 1em;
  margin-right: 1em;  
  cursor: pointer;
  transition: all 0.3s;

  &.blue-btn {
    -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);
    box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53);

    &:hover {
      -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
      -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
      box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);      
    }

    .content {
      font-size: 4em;
      font-family: "Roboto", sans-serif;
      background: linear-gradient(to right, #006fff, #00acff 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8);
    }
  }

  &.red-btn {
    -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
    -moz-box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);
    box-shadow: 0px 20px 20px -17px rgba(255, 16, 39, 0.5);

    &:hover {
      -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
      -moz-box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);
      box-shadow: 0px 20px 35px -16px rgba(255, 16, 39, 0.57);      
    }

    .content {
      font-size: 4em;
      font-family: "Roboto", sans-serif;
      background: linear-gradient(to right, #ff1027, #ff4f06 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 10px 37px rgba(255, 16, 39, 0.6);
    }
  }

  &.amber-btn {
    -webkit-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
    -moz-box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);
    box-shadow: 0px 20px 20px -17px rgba(255, 159, 16, 0.53);

    &:hover {
      -webkit-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
      -moz-box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);
      box-shadow: 0px 20px 35px -16px rgba(255, 159, 16, 0.6);      
    }

    .content {
      font-size: 4em;
      font-family: "Roboto", sans-serif;
      background: linear-gradient(to right, #ff8d00, #f7ad07 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 10px 37px rgba(255, 94, 16, 0.7);
    }
  }

  &.insta-btn {
    -webkit-box-shadow: 0px 20px 20px -17px rgba(191, 62, 120, 0.7);
    -moz-box-shadow: 0px 20px 20px -17px rgba(191, 62, 120, 0.7);
    box-shadow: 0px 20px 20px -17px rgba(191, 62, 120, 0.7);

    &:hover {
      -webkit-box-shadow: 0px 20px 35px -16px rgba(191, 62, 120, 0.88);
      -moz-box-shadow: 0px 20px 35px -16px rgba(191, 62, 120, 0.88);
      box-shadow: 0px 20px 35px -16px rgba(191, 62, 120, 0.88);      
    }

    .content {
      font-size: 4em;
      font-family: "Roboto", sans-serif;
      background: linear-gradient(to right, #ff0073, #fa2585 70%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 10px 37px rgba(253, 24, 127, 0.7);
    }
  }

  &:hover {
    background-color: darken(#fafafa, 2%);    
    transform: translateY(-5px);
    transition: all 0.3s;
  }
}

